<template>
    <div id="subscribe_box">

            
               <router-view> </router-view>

                <hr>

                        <div class="social_media">
                            <span class="dot facebook"><span class="icon-ic_facebook sm_icon"></span></span>
                            <span class="dot instagram"><span class="icon-ic-instagram sm_icon"></span></span>
                            <span class="dot twitter"><span class="icon-ic_twitter sm_icon"></span></span>
                            <span class="dot youtube"><span class="icon-ic-youtube sm_icon"></span></span>
                        </div>
    </div>

</template>

<script>
    export default {}
</script>