html, body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

body{
  background-image: linear-gradient(#FFFFFF, #F2F5FA);
  
}
#Pbg {
    background: url("Task 1/Pineapple/image_summer-1.png") no-repeat;
    background-size: cover;
    position: fixed;
    width: 64.25%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    
  }

#container_main{
  min-height:100vh;
  width: 35.75%;
}

#main_menu{
  margin:0;
  padding-top: 100px;
  padding-left:100px;
  padding-right:101px;
  height:40px;
}

#pineapple{
  display: none;
}
#pineapple-1{ 
  width: 118px;
  height: 40px;
  float:left;
}

#subscribe_box{
  margin-top:130px;
  margin-left:140px;
}

 ul{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  float:right;
}

li{
  display: inline;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  
  margin-left: 27px;
}

a, a:visited{
  text-decoration-line: underline;
  color: #131821;
}
a:hover{
  color: #4066A5;
}
a:active{
  color: #233759;
}

li a {
  text-decoration:none;
  color: #6A707B;
}

li a:visited{
  color: #6A707B;
}


#newsletter_box{
  padding-top: 79px;
}

h1{
  
  width: 399px;
  height: 44px;
  font-family: Georgia;
  font-weight:400;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: #131821;

  margin-left: 0px;
  margin-right:140px;
  margin-top:25px;
  margin-bottom:16px;
}

h2, h3{
  
  width: 400px;
  height: 56px;
 
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #6A707B;

  margin-left: 0px;
  margin-right:140px;
}

h3{
  margin-top:21px;
  margin-bottom: 50px;
}


#errors{
  position:absolute;
  width: 400px;
  height: 56px;
 
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: red;

  margin-left: 0px;
  margin-right:140px;
}

.container_input{
  border-left: 4px solid #4066A5;
  width: 659px;
  margin-left: -41px;
  margin-top: 49px;
  position:relative;
}

#email{
  width: 659px;
  height: 70px;

}
.container_input input{
  background: #FFFFFF;
  border: 1px solid #E3E3E4;
  box-sizing: border-box;

  padding-left: 39px;
}


.container_input:hover input{
  border: 1px solid #4066A5;
}

.container_input:Hover input, .container_input input:Focus{
  box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}


.container_input:hover .icon-ic_arrow:not([disabled]){
  color: #4066A5;
  opacity: 1;
}



::placeholder{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #6A707B;
}

.icon-ic_arrow{
  position:absolute;
  width: 24px;
  height: 14px;
  top:28px;
  right:40px;

  opacity: 0.3;
  z-index:2;
} 

.container_terms {
  display: block;
  position: relative;
  
  padding-left: 40px;
  margin-top: 62px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 16px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
 
  line-height: 28px;
  color: #6A707B;
  bottom: 7px;
}

/* Hide the browser's default checkbox */
.container_terms input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position:absolute;
  top: -2px;
  left: -2px;
  width: 27px;
  height: 27px;
  background: #FFFFFF;
  border: 1px solid #E3E3E4;
  box-sizing: border-box;
  border-radius: 3px
}

/* When the checkbox is checked, add a blue background */
.container_terms input:checked ~ .checkmark {
  background: #4066A5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:before {
  display: none;
  position:relative;
  left: 2px;
  top: 4px;
}

/* Show the checkmark when checked */
.container_terms input:checked ~ .checkmark:before {
  display: block;
}

hr{
  width: 400px;
  height: 1px;


  background: #E3E3E4;
  margin-top: 42px;
  margin-left:0px;
}

.social_media{
    margin-left: 78px;
    margin-top: 47px;
}



.dot{
  width: 46px;
  height: 46px;
  border: 2px solid #E3E3E4;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
  color:  #131821;
  margin-right: 16px;
}

.sm_icon{
  position: relative;
  opacity: 0.3;
}


.icon-ic_facebook{
  
  width:8px;
  height:16px;
  left: 17px;
  top: 13px;
}

.icon-ic-instagram{
  width:16px;
  height:16px;
  left: 13px;
  top: 13px;
 }

 .icon-ic_twitter{
  width:16px;
  height:13px;
  left: 13px;
  top: 13px;
}

.icon-ic-youtube{
  width:16px;
  height:11px;
  left: 10px;
  top: 12px;
} 



.dot:hover, .dot:active{
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.dot:hover .sm_icon, .dot:active .sm_icon{
  color: #FFFFFF;
  opacity: 1;
}

.dot.facebook:hover {
  background-color: #4267B2;;
  border-color:#4267B2;
  
}
.dot.facebook:active {
  background-color: #2F4A80;
  border-color: #2F4A80;
}

.dot.instagram:hover {
  background-color: #C13584;
  border-color:#C13584;
}
.dot.instagram:active {
  background-color: #8F2762;
  border-color:#8F2762;
}

.dot.twitter:hover {
  background-color: #1DA1F2;
  border-color:#1DA1F2;
}
.dot.twitter:active {
  background-color: #177FBF;
  border-color:#177FBF;
}

.dot.youtube:hover {
  background-color: #FF0000;
  border-color:#FF0000;
}
.dot.youtube:active {
  background-color: #CC0000;
  border-color:#CC0000;
}

/*Task2 - ThankYou.vue*/




