@media screen and (max-width: 992px) {

         
    #Pbg{
        display:none
    }
    #container_main{
        width: 100%;
      }

    #for_media{
        background: url("Task 1/Pineapple/image_summer-1.png") no-repeat;
        z-index: -1;
        background-size: auto 100%;
        background-position: center;
        margin-top: 0;
        padding-top: 188px;
        width: 100%;
        height: calc(100vh - 66px - 188px);
    }

    #main_menu{
        margin: 0;
        padding-top: 10px;
        padding-bottom: 16px;
        padding-left:20px;
        padding-right:20px;
        height:40px;
    }

    #pineapple{
        display: block;
        width: 25px;
        height: 40px;
        float:left;
    }

    #pineapple-1{
        display: none;
    }

    ul{
        margin-top: 11px;
    }
    
    li{
        font-size: 14px;
        line-height: 24px;
        
        margin-left: 17px;
      }

    #subscribe_box{
        background-image: linear-gradient(#FFFFFF, #F2F5FA);
        width: 297px;
        margin: auto;
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 29px;
    }

    #newsletter_box{
        padding-top: 0px;
      }
    #cup{
        margin-bottom: 35px;
    }

    h1{
        width: 295px;
        height: 34px;
        font-weight:normal;
        font-size: 24px;
        line-height: 34px;
        color: #131821;
      
        margin-left: 0px;

        margin-bottom: -11px;

        margin-top: 0px;
/*        margin-bottom: -3px;
*/
    }


    h2, h3{
        width: 295px;
        height: 52px;
        font-size: 14px;
        line-height: 26px;
        color: #6A707B;
        margin-left: 0px;
    }
    
    h2{
        margin-top: 20px;
    }
    h3{
        margin-bottom: 42px;
    }
  

    .container_input{
       border-left: 4px solid #4066A5;
       width:291px;
       margin-top: 21px;
       margin-left:0px;
       position:relative;
      }

    .container_input input{
        padding-left:11px;
    }
      
    #email{
       width: 291px;
       height: 60px;
      
    }

    ::placeholder{
        font-weight: 400;
    }
      
    .icon-ic_arrow{
        top:23px;
        right:23px;
    } 

    .container_terms {
        padding-left: 41px;
        margin-top:42px;
        margin-bottom: 2px;
        font-size: 16px;
        line-height: 28px;
        bottom: 20px;
    }

    .checkmark {
        margin-bottom: 21px;
        left: 0px;
      }

    hr{
        width: 295px;
        margin-left:0px;
        margin-top: -4px;
      }
    
    .social_media{
        margin-left:33px;
        margin-top: 19px;
      }

    .dot{
        margin-right: 6px;
    }

}