<template>
    <div>
        <h2 class="text-center">Subscribers List</h2>
        <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary" v-for="provider in providers" :key="provider" @click="showProvider = provider"> {{provider}} </button>
        </div>
        <h4>{{showProvider}}</h4>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th @click="sortMethod = 'date'">Date</th>
                <th @click="sortMethod= 'alphabetically'">E-mail</th>
                <th>Provider</th>
                <th><!--Actions--></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="subscriber in displayedSubscribers" :key="subscriber.id">
                <td>{{ subscriber.id }}</td>
                <td>{{ subscriber.created_at }}</td>
                <td>{{ subscriber.email }}</td>
                <td>{{ subscriber.email_provider }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <!-- <router-link :to="{name: 'edit', params: { id: subscriber.id }}" class="btn btn-success">Edit</router-link> -->
                        <button class="btn btn-danger" @click="deleteSubscriber(subscriber.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" v-if="page != 1" @click="page--"> Previous </button>
                <button type="button" class="btn btn-outline-primary" v-for="pageNumber in pages.slice(page-1, page+5)" :key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                <button type="button" @click="page++" v-if="page < pages.length" class="btn btn-primary"> Next </button>
            </div>
		</nav>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                subscribers: [],
                page: 1,
                perPage: 10,
                pages: [],	
                sortMethod:'date',
                providers: [],
                showProvider:'All',
            }
        },
        created() {
            this.axios
                .get('http://localhost:8000/api/subscribers/')
                .then(response => {
                    this.subscribers = response.data;
                    this.filterProviders(this.subscribers);
                });
        },
        methods: {
            deleteSubscriber(id) {
                this.axios
                    .delete('http://localhost:8000/api/subscribers/'+id)
                    .then(response => {
                        let i = this.subscribers.map(data => data.id).indexOf(id);
                        this.subscribers.splice(i, 1)
                    });
            },

            setPages (subscriber_count) {
                let numberOfPages = Math.ceil(subscriber_count / this.perPage);
                this.pages.splice(0);
                for (let index = 1; index <= numberOfPages; index++) {
                    this.pages.push(index);
		    	}
    		},
            paginate (subscribers) {
                this.setPages (subscribers.length);
			    let page = this.page;
			    let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                return  subscribers.slice(from, to);
		    },
            sortSubscribers(subscribers) {
                if (this.sortMethod == 'alphabetically') {
                return subscribers.sort((a,b) => {
                        let fa = a.email.toLowerCase(), fb = b.email.toLowerCase();
                        if (fa < fb) {
                            return -1
                        }
                        if (fa > fb) {
                            return 1
                        }
                        return 0
                    });
                } else if (this.sortMethod == 'date'){
                return subscribers.sort((a,b) => {
                    return new Date(a.created_at) - new Date(b.created_at)
                });
                }else{
                    return subscribers;
                }
            },

            filterProviders(subscribers){
                let providers = subscribers.map(function(s){return s.email_provider});
                this.providers = [ ...new Set(providers)];
                this.providers.push('All');
            },
            filterByProviders(subscribers){
                if(this.showProvider == 'All'){
                    return subscribers;
                }else{
                    return subscribers.filter((s) => {
                        return (s.email_provider == this.showProvider)
                        });
                }
            }
        },

        computed: {
		    displayedSubscribers () {
			    return this.paginate(this.sortSubscribers(this.filterByProviders(this.subscribers)));
		    }
	    },

        filters: {
            trimWords(value){
                return value.split(" ").splice(0,20).join(" ") + '...';
            }
        }

    }
</script>