 <template>
     <div id="newsletter_box">

        <h1>Subscribe to newsletter</h1>
        <h2>Subscribe to our newsletter and get 10% discount on pineapple glasses.</h2>
        
                    <form @submit.prevent="addSubscriber">
                        <div class="container_input">
                            <input type="email" id="email" name="email" v-model="subscriber.email" v-on:input="validateForm" @blur="startValidate" placeholder="Type your email address here...">
                            <span class="icon-ic_arrow" id="arrow" :disabled="!validateForm()" v-on:click="addSubscriber"></span>
                        </div>

                        <span id="errors">{{errors}}</span>
                        
                        <label class="container_terms">I agree to <a href="#">terms of service</a>
                            <input type="checkbox" name="checkbox" v-model="subscriber.checkbox" @change="validateForm">
                            <span class="checkmark icon-ic_checkmark"></span>
                        </label>
                    </form>


    </div>
</template>

<script>
    export default {
        data() {
            return {
                subscriber: {},
                validate: false,
                errors:null
            }
        },
        methods: {
            validateForm() {
                this.errors = null;
                var retrun_value = true;

                if(this.validate){
                    if (typeof this.subscriber.checkbox === 'undefined' || this.subscriber.checkbox == false) {
                        this.errors = 'You must accept the terms and conditions';
                        
                        retrun_value = false;
                    }
                    else{
                        //checkbox korekts
                    }

                    
                    if (typeof this.subscriber.email === 'undefined' || this.subscriber.email.length == 0) {
                        this.errors = 'Email address is required';
                        retrun_value = false;
                    }

                    else if (!this.validEmail(this.subscriber.email)){
                        this.errors = 'Please provide a valid e-mail address';
                        retrun_value = false;
                    }

                    else if (this.colombiaEmail(this.subscriber.email)){
                        this.errors = 'We are not accepting subscriptions from Colombia emails';
                        retrun_value = false;
                    }
                    else{
                        //epasts korekts
                    }
                }
                else{
                    retrun_value = false;
                }
                return retrun_value;
            },

            startValidate() {
                this.validate = true;
                this.validateForm();
            },

            addSubscriber() {
            if(this.validateForm()){
                this.axios
                    .post('http://localhost:8000/api/subscribers', this.subscriber)
                    .then(response => (
                        this.parseError(response.data)
                    ))
                    .catch(err => console.log(err))
                    .finally(() => this.loading = false)
                }
            },

            parseError(errors){
                if(Object.keys(errors).length === 0){
                    this.$router.push({ name: 'thankyou' });
                }else{
                    alert(Object.keys(errors));
                }
            },

            validEmail: function(email) { 
              var re=/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              return re.test(email);
            },

            colombiaEmail: function(email) {
                var re=/\.co$/;
                return re.test(email);
            }
        }
    }
</script>
