<template>
    <div>
        <img id="cup" src="Task 1/Icons/Union.svg">
        <h1>Thanks for subscribing!</h1>
             <h3>You have successfully subscribed to our email listing. Check your email for the discount code.</h3>
    </div>
</template>